<div class="container header-container">
  <a class="header-link-logo" href="./index.html" aria-label="main logo">
    <svg class="logo" width="24" height="24">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
    <svg class="logo-text logo" width="77" height="13">
      <use href="./images/icons.svg#icon-logo-bookshelf"></use>
    </svg>
  </a>
  <nav class="main-nav">
    <ul class="list-nav">
      <li class="item-nav">
        <a class="link-nav" href="./index.html">Home</a>
      </li>
      <li class="item-nav">
        <a class="link-nav link-nav-second" href="./shopinglist.html">
          Shopping list
          <svg class="icon-nav" width="20" height="20">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <input
    type="checkbox"
    class="theme-toggle-js"
    aria-label="dark or light mode switcher"
  />

  <button class="header-btn" type="button">
    <p class="text-btn">Sign up</p>
    <svg class="icon-btn" width="20" height="20">
      <use href="./images/icons.svg#icon-arrow"></use>
    </svg>
  </button>

  <button
    class="mobile-menu-btn"
    type="button"
    id="modalOpenBtn"
    aria-label="open mobile navigation menu"
  >
    <svg class="icon-mobile-menu-open" width="28" height="28">
      <use href="./images/icons.svg#icon-menu"></use>
    </svg>
  </button>
  <button
    class="close-modal-btn is-hidden"
    type="button"
    id="modalCloseBtn"
    aria-label="close mobile navigation menu"
  >
    <svg class="icon-mobile-menu-close" width="28" height="28">
      <use href="./images/icons.svg#icon-x-close"></use>
    </svg>
  </button>
</div>
