<div id="myModal" class="modal-mobile">
  <div class="container">
    <button class="modal-btn-sign" type="button">
      <p class="modal-text-btn">Sign up</p>
      <svg class="modal-icon-btn" width="20" height="20">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <nav class="modal-main-nav">
      <ul class="modal-list-nav">
        <li class="modal-item-nav">
          <a class="modal-link-nav" href="./index.html">Home</a>
        </li>
        <li class="modal-item-nav">
          <a
            class="modal-link-nav modal-link-nav-second"
            href="./shopinglist.html"
          >
            Shopping list
            <svg class="modal-icon-nav" width="20" height="20">
              <use href="./images/icons.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
