    
    <div class="shop-container">
    <h1 class="shop-title">Shopping<span>List</span></h1>
    <ul class="shop-list">
    </ul>
    </div> 
      




  <!-- Список книг
      <section class="shop-section">
        <div class="shop-container">
          <div class="shop-title-container">
            <h1>Shopping<span>List</span></h1>
          </div>
          <div class="shop-list-container">
            <ul class="book-list">
              <li class="book-list-item">
                <div class="book-container">
                  <img 
                  class="book-img" 
                  src="./images/book1.jpg" 
                  alt="Book" 
                  />
                    <div class="book-info">
                      <h2 class="book-title">Назва книги 1</h2>
                      <h3 class="book-category">Назва категорії</h3>
                      <p>Короткий опис книги</p>
                      <h4 class="book-author">ПІБ автора</h4>
                  </div>
                </div>
              </li>
              <li class="book-list-item">
                <div class="book-container">
                  <img 
                  class="book-img"
                  src="./images/book1.jpg" 
                  alt="Book" 
                  />
                    <div class="book-info">
                      <h2 class="book-title">Назва книги 2</h2>
                      <h3 class="book-category">Назва категорії</h3>
                      <p>Короткий опис книги</p>
                      <h4 class="book-author">ПІБ автора</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div> -->