<div class="pagination-wrapper">
  <div class="shop-container book-shelf">
    <h1 class="shop-title">
      Shopping <span class="shop-title-span">List</span>
    </h1>
    <ul class="shop-list"></ul>
  </div>

  <div class="pagination">
    <button id="firstPage" class="pagination-btn prev-btn"">&lt;&lt;</button>
  <button id="prevPage" class="pagination-btn prev-btn"> &lt; </button>
  <button class="pagination-btn" id="page1">1</button>
  <button class="pagination-btn" id="page2">2</button>
  <button class="pagination-btn" id="page3">3</button>
  <button id="nextPage" class="pagination-btn next-btn"> &gt; </button>
  <button id="lastPage" class="pagination-btn next-btn">&gt;&gt;</button>
</div>
</div>
