<div class="pagination-wrapper">
<div class="shop-container book-shelf">
  <h1 class="shop-title">Shopping <span class="shop-title-span">List</span></h1>
  <ul class="shop-list"></ul>
</div>

<div class="pagination">
  <button id="prevPage" class="pagination-button"> &lt; </button>
  <button class="pagination-button" id="page1">1</button>
  <button class="pagination-button" id="page2">2</button>
  <button class="pagination-button" id="page3">3</button>
  <button id="nextPage" class="pagination-button"> &gt; </button>
</div>
</div>