<section class="support-section">
  <div class="support-container">
    <div class="support-title-container">
      <h3>Support Ukraine</h3>
      <svg class="simbol-svg" width="20" height="32">
        <use href="/src/images/icons.svg#icon-Ukraine"></use>
      </svg>
    </div>
    <div class="support-list-container">
      <ul class="support-list">
        <li class="support-list-item">
          <div class="item-container">
            <p>01</p>
            <a
              rel="norefferer noopener"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img1.png"
                alt="Save the Children"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>02</p>
            <a
              rel="norefferer noopener"
              href="https://www.projecthope.org/country/ukraine/"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img2.png"
                alt="Project HOPE"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>03</p>
            <a
              rel="norefferer noopener"
              href="https://internationalmedicalcorps.org/country/ukraine/"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img3.png"
                alt="International Medical Corps"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>04</p>
            <a
              rel="norefferer noopener"
              href="https://www.razomforukraine.org/"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img4.png"
                alt="RAZOM"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>05</p>
            <a
              rel="norefferer noopener"
              href="https://www.actionagainsthunger.org/location/europe/ukraine/"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img5.png"
                alt="Action against hunger"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>06</p>
            <a
              rel="norefferer noopener"
              href="https://prytulafoundation.org/en"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img6.png"
                alt="Serhiy Prytula Charity Foundation"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>07</p>
            <a
              rel="norefferer noopener"
              href="https://www.msf.org/ukraine"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img7.png"
                alt="Medicins Sans Frontieres"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>08</p>
            <a
              rel="norefferer noopener"
              href="https://www.wvi.org/emergencies/ukraine"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img8.png"
                alt="World vision"
            /></a>
          </div>
        </li>
        <li class="support-list-item">
          <div class="item-container">
            <p>09</p>
            <a
              rel="norefferer noopener"
              href="https://u24.gov.ua/uk"
              class="suppot-link"
              target="_blank"
              ><img
                loading="lazy"
                width="100"
                height="32"
                class="support-img"
                src="/src/images/img9.png"
                alt="UNITED24"
            /></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="support-arrow-container">
      <svg class="arrow-svg" width="20" height="20">
        <use href="/src/images/icons.svg#icon-to-down"></use>
      </svg>
    </div>
  </div>
</section>
