/* @media only screen and (max-width: 767.98px) {

} */

.categories-select-wrapper {
  height: 228px;
  width: 335px;
  overflow: auto;
}

.categories-select-wrapper::-webkit-scrollbar {
  width: 8px;
}

.categories-select-wrapper::-webkit-scrollbar-track {
  opacity: 100;
}

.categories-select-wrapper::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
  height: 114px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.categories-active {
  color: var(--main-violet-color);
  text-transform: uppercase;
}

.categories-list-el {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;

  font-size: var(--font-size-categories);
  color: var(--main-black-color);
  opacity: 0.6;
}

.categories-list-el:hover {
  color: var(--main-violet-color);
}
