#scrollUpbutton {
  display: inline-block;
  background-color: #e0e0e0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#scrollUpbutton:after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: blue;
}
#scrollUpbutton:hover {
  cursor: pointer;
  background-color:var(--main-black-color);
}
#scrollUpbutton:active {
  background-color:var(--main-violet-color);
}
#scrollUpbutton.show {
  opacity: 1;
  visibility: visible;
}
