.home {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: transparent;
  color: transparent;
  cursor: pointer;
}

.icon-scroll-up {
  /*display: inline-block;*/
  height: 48px;
  width: 48px;
  stroke-width: 2px;
  fill: peru;
  /*stroke: currentColor;
    fill: currentColor;*/
}

.icon-home-up:focus {
  fill: gold;
}
/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .icon-home-up {
    width: 64px;
    height: 64px;
  }
  .home {
    bottom: 30px;
    right: 50px;
  }
}
/* Dasktop styles */
@media screen and (min-width: 1440px) {
  .home {
    bottom: 40px;
    right: 60px;
  }
  .icon-home-up:hover {
    fill: gold;
  }
}
