.book-shelf {
}
.books-content {
}

.main-title {
  margin-bottom: 40px;

  font-size: var(--pc-font-size-main_header);
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.92px;
}

.color-accent {
  color: var(--main-violet-color);
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
}

.item-category {
  margin-bottom: 18px;

  color: var(--alternative-text);
  font-size: var(--pc-font-size-main-categories_headers);
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.top-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.top-books li {
  display: flex;
  flex-direction: column;
}

.card-book {
  width: 180px;
  height: 306px;
}

.img-card-book {
  width: 180px;
  height: 256px;

  margin-bottom: 14px;
}

.img-card-book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-book {
  margin-bottom: 4px;

  color: var(--main-black-color);
  font-size: var(--font-size-cards_name);
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.author-book {
  color: var(--alternative-text);
  font-size: var(--font-size-cards_author);
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
}

.see-more {
  width: 124px;
  height: 46px;
  align-self: end;

  border-radius: 40px;
  border: 2px solid var(--main-violet-color);

  color: var(--main-black-color);
  font-size: var(--font-size-cards_text);
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  text-transform: uppercase;
}
.box-category {
  display: flex;
  gap: 24px;

  margin-bottom: 32px;
}
/* =================================== */
