.base-wrapper {
  display: flex;
  
  @media only screen and (max-width: 767.8px) {
    gap: 40px;
    margin-bottom: 80px;
  }

  @media only screen and (max-width: 1439.98px) {
  flex-direction: column;
  }

  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
    gap: 100px;
    margin-bottom: 100px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 40px;
    margin-bottom: 72px;
  }
};

.cat {
  display: flex;
  

  @media only screen and (max-width: 767.8px) {
    gap: 40px;
    justify-content: center;
    flex-direction: column;
  }

  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
    gap: 32px;
  }

  ;

  @media only screen and (min-width: 1440px) {
    gap: 86px;
    flex-direction: column;
  }
}

;

.book-shelf {
}
.books-content {
}


.main-title {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--main-black-color);
  

  align-self: flex-start;
  // margin-bottom: 40px;
  
  @media only screen and (max-width: 767.8px) {
  }
  @media only screen and (max-width: 1439.98px) {
  }
}

.box-title {
  margin-bottom: 4px;
  // width: 100%;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

.title-book {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--main-black-color);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media only screen and (min-width: 1440px) {
    margin-bottom: 4px;
    // width: 218px;
  }
}

.color-accent {
  color: var(--main-violet-color);
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
}

.link-books-render {
  overflow: hidden;
  

  @media only screen and (min-width: 1440px) {
    outline: none;
  }
}

.top-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  gap: 40px;
  
  // @media only screen and (min-width: 1440px) {
    
  // }
}

.top-books-containers {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media only screen and (max-width: 767.8px) {
    
  }

  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  
  }
}

.cat-books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
    column-gap: 25px;
  }

  @media only screen and (min-width: 1440px) {
    column-gap: 24px;
  }
}

.card-book {
  // width: 180px;
  // height: 306px;
}

.img-card-book {
  position: relative;
  overflow: hidden;
  // width: 180px;
  // height: 256px;

  margin-bottom: 14px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 14px;
  }

  @media only screen and (min-width: 1440px) {
    margin-bottom: 14px;
  }
}

.img-card-book img {

  // object-fit: cover;

  // @media only screen and (max-width: 767.8px) {
  //   width: 335px;
  //   height: 485px;
  // }
  // @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  //   width: 218px;
  //   height: 316px;
  // }
  // @media only screen and (min-width: 1440px) {
  //   width: 180px;
  //   height: 256px;
  // }
}

// .title-book {
//   // margin-bottom: 4px;

//   color: var(--main-black-color);
//   font-size: var(--font-size-cards_name);
//   font-weight: 700;
//   line-height: 18px; /* 112.5% */
//   letter-spacing: -0.64px;
//   text-transform: uppercase;
// }



// .see-more {
//   width: 124px;
//   height: 46px;
//   align-self: end;

//   border-radius: 40px;
//   border: 2px solid var(--main-violet-color);

//   color: var(--main-black-color);
//   font-size: var(--font-size-cards_text);
//   font-weight: 700;
//   line-height: 18px; /* 128.571% */
//   letter-spacing: -0.14px;
//   text-transform: uppercase;
// }
.box-category {
  display: flex;
  // gap: 24px;

  @media only screen and (max-width: 767.8px) {
    margin-bottom: 8px;
  }
        
  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
          // width: calc((100% - 50px) / 3);
          gap: 25px;
          margin-bottom: 20px;
    
          // li:last-child {
          //   display: none;
          // };
          // li:nth-last-child(-n+2) {
          //   display: none;
          // };
        };
    
        @media only screen and (min-width: 1440px) {
          // width: calc((100% - 50px) / 5);
          gap: 24px;
    
          margin-bottom: 32px;
        };
        };
  

  .box-category-pc {
  @media only screen and (max-width: 767.8px) {
    li:nth-last-child(-n+4) {
      display: none;
    };
  }
  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
    li:nth-last-child(-n+2) {
        display: none;
  }
}
}

.box-category-tablet {
  @media only screen and (max-width: 767.98px) {
    li:nth-last-child(-n+2) {
      display: none;
    }
  }
  // li:nth-last-child(-n+2) {
  //     display: none;
  //   }
  
    ;
}



.item-category-book {

  @media only screen and (max-width: 767.98px) {
    max-width: 335px;;
  }
  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
    max-width: 218px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 180px;
  }
}

.item-category {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  // margin-bottom: 18px;

  color: var(--alternative-text);
  font-size: var(--pc-font-size-main-categories_headers);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-bottom: 18px;

  // @media only screen and (max-width: 767.8px) {
    
  // }
  // @media only screen and (min-width: 768px) {
  // }
}

.img-book {
  border-radius: 8px;
  object-fit: cover;
  
    @media only screen and (max-width: 767.8px) {
      width: 335px;
      height: 485px;
    }
  
    @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
      width: 218px;
      height: 316px;
    }
  
    @media only screen and (min-width: 1440px) {
      width: 180px;
      height: 256px;
    }
}



// .author-book {
//   font-family: DM Sans;
//   font-size: 12px;
//   font-weight: 400;
//   font-style: italic;
//   line-height: 14px;
//   
//   text-align: left;
//   color: #b4afaf;
// }


.box-author .author-book {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: var(--alternative-text);
  
  font-size: var(--font-size-cards_author);
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
}

.see-more {

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-black-color);
  background-color: var(--main-bc-modal);
  align-self: flex-end;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--main-violet-color);

  transition-property: color, background-color;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);


  &:hover,
  &:focus {
    background-color: var(--main-violet-color);
    color: var(--main-white-color);
    outline: none;
  };
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  // .main-title {
  //   margin-top: 98px;
  //   font-size: 48px;
  //   line-height: 52px;
  // }

  .img-book {
    width: 218px;
    height: 316px;
  }

  // .box-category {
  //   display: flex;
  //   width: calc((100% - 50px) / 3);
  //   height: 366px;
  //   // gap: 25px;
  // }

  .see-more {
  }
}

@media only screen and (min-width: 1440px) {
  // .main-title {
  //   margin-right: 631px;
  //   margin-left: 40px;
  // }

  // .item-category {
  //   line-height: 24px;
  //   margin-bottom: 18px;
  // }

  .img-book {
    width: 180px;
    height: 256px;
  }

  // .box-category {
  //   display: flex;
  //   width: calc((100% - 96px) / 5);
  //   height: 306px;
  //   gap: 24px;
  // }


}

@media only screen and (max-width: 1439.98px) {
  .hover-overlay {
    display: none;
  }
  }


@media only screen and (min-width: 1440px) {
  .hover-overlay {
      position: absolute;
      bottom: -70px;
      left: 0px;
      width: 180px;
      height: 70px;

      border-radius: 0px 0px 8px 8px;
  
      background-color: var(--accent-yellow-color);
  
      transition: transform var(--transition-duration) var(--transition-timing-function);
    }
  
    .overlay-text {
      font-size: 14px;
      color: black;
      font-family: var(--main-font-family);
      font-weight: 500;
      line-height: 1.28;
      letter-spacing: 0.04em;
  
  
      text-transform: uppercase;
      text-align: center;
      padding: 24px;
    }
  
  
    .link-books-render:hover .hover-overlay,
    .link-books-render:focus .hover-overlay {
      transform: translateY(-70px);
    }
}
