.shop-section {
    float: left;
    width: 60%;
  }

  .shop-title-container {
    color: var(--main-black-color);
    font-family: var(--main-font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
  
   .shop-title-container span {
    color: var(--main-violet-color);
    font-family: var(--main-font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.92px;
  }

  .shop-list-container {
    display: flex;
    flex-direction: column;
  }
  
  .book-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .book-list-item {
    margin-bottom: 20px;
  }
  
  .book-container {
    border: 2px solid var(--shopping-list-border);
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 768px;
    margin: 0 auto; 
    padding: 24px 30px;
  }

  .book-img {
    max-width: 100%;
    height: auto;
  }
  
  .book-info {
    flex-grow: 1; 
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
    .book-title {
    text-align: center;
    font-size: 24px; 
    font-weight: 700; 
  }
  
    .book-author {
    font-size: 16px; 
    font-weight: 400; 
    margin-top: 20px; 
  }


  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
 
  .page-arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 5px; 
    color: #4F2EE8;
  }
  
  .page-arrow.disabled {
    cursor: not-allowed;
    color: #ddd;
  }
  
  .page-dots {
    display: flex;
    align-items: center;
  }
  
  .page-dot {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .page-dot.active {
    background-color: #4F2EE8;
    color: #fff;
  }
  
  .page-dot span {
    font-size: 14px;
  }